umd
lib
dist
node_modules
tmp
package-lock.json
.idea/*
.vscode
.DS_Store
.turbo
.eslintcache
lib
es

# ts
ts-lib

# server
app/**/*.js
app/**/*js.map

# doc
doc/js
doc/api.json
doc/api.md
doc/html
# test
example/tests/html

# api-extractor

temp
etc
npm-debug.log
